{% extends 'store/base.html' %}
{% load static %}
{% block title %}Cart{% endblock title %}

{% block content %}

<div class="row cart_row">
    <div class="col-8">
        <h2 class="m-3 mb-4">Cart</h2>
        <div class="row">
            <div class="col-6 pl-0 pr-0">
                <h4>Item</h4>
                <div class="border-bottom border-dark"></div>
            </div>
            <div class="col-2 pl-0 pr-0">
                <h4>Size</h4>
                <div class="border-bottom border-dark"></div>
            </div>
            <div class="col-2 pl-0 pr-0">
                <h4>Total Price</h4>
                <div class="border-bottom border-dark"></div>
            </div>
            <div class="col-1 pl-0 pr-0">
                <h4>QTY.</h4>
                <div class="border-bottom border-dark"></div>
            </div>
            <div class="col-1 pl-0 pr-0">
                <h4>Remove</h4>
                <div class="border-bottom border-dark"></div>
            </div>
        </div>
        <!--? FOR LOOP Starts here -->

        {% for item in items %}
        <div class="row">
            <div class="col-1 pl-0 pr-0 border-bottom border-dark">
                <div class=" quantity_buttons">
                    <button class="btn btn-outline-danger update-cart" data-product="{{item.product.id}}" data-action="remove">-</button>
                </div>
            </div>
            <div class="col-1 pl-0 pr-0 border-bottom border-dark">
                <div class=" quantity_buttons">
                    <button class="btn btn-outline-success update-cart" data-product="{{item.product.id}}" data-action="add">+</button>
                </div>
            </div>
            <div class="col-4 pl-0 pr-0 border-bottom border-dark">
                <h5>{{item.product.name}}</h5>
            </div>
            <div class="col-2 pl-0 pr-0 border-bottom border-dark">
                <h5 class="align-middle">{{item.product.size}}</h5>
            </div>
            <div class="col-2 pl-0 pr-0 border-bottom border-dark">
                <h5>{{item.get_total.amount}}</h5>
            </div>
            <div class="col-1 pl-0 pr-0 cart_quantity border-bottom border-dark">
                <h5> {{item.quantity}}</h5>
            </div>
            <div class="col-1 pl-0 pr-0 border-bottom border-dark cart_remove update-cart" data-product="{{item.product.id}}" data-action="delete">
                <button class="btn-outline-danger btn">x</button>
            </div>
        </div>

        {% endfor %}

    </div>
    <!--? ENDS HERE -->
    <!--? Payment Section  -->
    <div class="col-3 payment_col ml-5">
        <h3 class=" text-center">Shipping</h3>
        <div class="row">


            {% if not address == None and items %}
            <a href="{% url 'shipping-update' address.pk %}" class="col-10 offset-1 btn btn-success mt-2 mb-3">Confirm Address</a>
            {% elif address == None and items %}
            <a href="{% url 'shipping-create' %}" class="col-10 offset-1 btn btn-success mt-2 mb-3">Add an Address</a>
            {% elif not items %}
            <a href="{% url 'home' %}" class="col-10 offset-1 btn btn-warning mt-2 mb-3">Add some items!</a>
            {% endif %}
        </div>

        <div class="row">
            <div class="col-5 offset-1">
                <p>Items</p>
            </div>
            <div class="col-5 text-right">
                <p>Total</p>
            </div>
        </div>
        <div class="row">
            <div class="col-5 offset-1">
                <p>{{order.get_cart_items}}</p>
            </div>
            <div class="col-5 text-right">
                <p>{{order.get_cart_total.amount}} GBP</p>
            </div>
        </div>


    </div>

</div>

{% endblock content %}